{% extends 'base.html' %}


<!-- we get the object variable for free from the CatDelete cbv
which has the same keys(attributes) as your cat model, because it  -->
<!-- an instance of that class -->

{% block content %}
  <h1>Delete Finch</h1>

  <h4>Are you sure you want to delete <span class="teal-text">{{ object.name }}</span>?</h4>

  <!-- django has a method override built in, remember browser can only send
  get/post requsts from forms, django will handle changing it to a delete -->
  <form action="" method="POST">
    {% csrf_token %}
    <input type="submit" value="Yes - Delete!" class="btn">
    <a href="{% url 'detail' finch.id %}">Cancel</a>
  </form>
{% endblock %}
